
.headerInstitutionText, .headerCollectionText{
color:white;
}

#headerLinks, #headerLinks a {
color:white;
size:small;
}
#headerLinks a:hover {color:indianred; }


.headerInstitutionText a:link { color:white; }
.headerInstitutionText a:visited { color:white; }
.headerInstitutionText a:hover { color:indianred; }
.headerInstitutionText a:active { color:white; }


.headerCollectionText a:link { color:white; }
.headerCollectionText a:visited { color:white; }
.headerCollectionText a:hover { color:indianred; }
.headerCollectionText a:active { color:white; }

#headerCollectionLicenseText,
#headerCollectionLicenseText a { color:white; }
#headerCollectionLicenseText a:hover { color:indianred; }

#headerDataTermsText,
#headerDataTermsText a { color:white; }
#headerDataTermsText a:hover { color:indianred; }

#headerCollectionMetaText,
#headerCollectionMetaText a { color:white; }
#headerCollectionMetaText a:hover { color:indianred; }

#headerCollectionLoanPolText,
#headerCollectionLoanPolText a { color:white; }
#headerCollectionLoanPolText a:hover { color:indianred; }

#headerCollectionLinkText,
#headerCollectionLinkText a { color:white; }
#headerCollectionLinkText a:hover { color:indianred; }


#hdrTxt{
    font-size: xx-large;
	font-weight: bold;
    color:white;
}